h1  {
  color: #498c13;
  text-align: center;
  font-family: fantasy;
}

.center_element {
  text-align: center;
}

h2{
  font-size: medium;
  text-align: center;
  color: #dfd021;
}

.column {
  width: 300px;
  float: left;
}

.column2  {
  width: 300px;
  float: right;
}

.about_me {
  margin: 12px;
  border: 2px solid #498c13;
  padding: 4px;
  background-color: black;
}